<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Academy.listeners"></listener>
</listeners>
  <test thread-count="5" name="homeTest">
    <classes>
      <class name="Academy.Project.HomePage"/>
      
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="AppTest">
    <classes>
      
      <class name="Academy.Project.AppTest"/>
      
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="validateTest">
    <classes>
      
      <class name="Academy.Project.validateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
